googledrivedownloader==0.3
MedPy==0.3.0
SimpleITK==1.1.0
torch==0.4.1
torchfile==0.1.0
trixi==0.1.1.1
-e git+https://github.com/MIC-DKFZ/batchgenerators@dc5aff4d29a027546fe7dc8b8a17a0fba06e8c70#egg=batchgenerators
numpy==1.14.5
visdom==0.1.8.5
